@page
@model TimeKeeperApp.Pages.TimeEntryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].UserID) *@ User ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeEntry[0].Week)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].TimeIn) *@ Time In
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].TimeOut) *@ Time Out
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].HoursWorked) *@ Hours Worked
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].ApprovalStatus) *@ Approval Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TimeEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                    User, item, TimeEntryOperations.Update)).Succeeded)
                    {
                    <a asp-page="./Edit" asp-route-id="@item.TimeEntryId">Edit</a> 
                    <text> | </text>
                    }
                
                <a asp-page="./Details" asp-route-id="@item.TimeEntryId">Details</a>
                
                @if ((await AuthorizationService.AuthorizeAsync(
                      User, item, TimeEntryOperations.Delete)).Succeeded)
                    {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.TimeEntryId">Delete</a>
                    }
            </td>
            <td>
                @if (item.ApprovalStatus != true)
                {
                    @if ((await AuthorizationService.AuthorizeAsync(
                                User, item, TimeEntryOperations.Approve)).Succeeded)
                    {
                        <form style="display:inline;" method="post">
                        <input type="hidden" name="id" value="@item.TimeEntryId" />
                        <input type="hidden" name="status" value="@TimeEntryOperations.Approve" />
                        <button type="submit" class="btn btn-xs btn-success">Approve</button>
                        </form>
                    }
                }
                    @if (item.ApprovalStatus == true)
                    {
                        <form style="display:inline;" method="get">
                            @* <input type="hidden" name="id" value="@item.TimeEntryId" />
                            <input type="hidden" name="status" value="@TimeEntryOperations.Approve" /> *@
                            <button type="submit" class="btn btn-xs btn-success">Report</button>
                        </form>
                    }
            </td>
        </tr>
      }
    </tbody>
</table>
