@page
@model TimeKeeperApp.Pages.TimeEntryPages.IndexModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(Constants.InternRole) ||
    User.IsInRole(Constants.AdminRole))
    {
        <p>
            <button>
                <a asp-page="Create">Create New</a>
           </button>
        </p>
    }

@{
    var weeks = Model.TimeEntry.Select(te => te.Week).Distinct().ToList();
    // Convert weeks (IList<int>) to IEnumerable<SelectListItem>
    var weekSelectList = weeks.Select(w => new SelectListItem
    {
        Value = w.ToString(),
        Text = w.ToString()
    }).ToList();
}

<div class="dropdown">
    <select name="SelectWeek">
        <option value="">Select a Week</option>
        @foreach (var week in weekSelectList)
        {
            <option value="@week.Value">@week.Text</option>
        }
    </select>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Week Starting
            </th>
            <th>
                Time In
            </th>
            <th>
                Time Out
            </th>
            <th>
                Hours Worked
            </th>
            <th>
                Approval Status
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.TimeEntry)
    {
    <tr>
        <td>
            @{
                // Fix: Use UserManager to get user name by ID
                var user = await UserManager.FindByIdAsync(item.UserID);
                var userName = user != null ? user.UserName : item.UserID;
            }
            @userName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalStatus)
        </td>
        <td>
            @if ((await AuthorizationService.AuthorizeAsync(
                User, item, TimeEntryOperations.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.TimeEntryId">Edit</a> 
                    <text> | </text>
                }
            
            <a asp-page="./Details" asp-route-id="@item.TimeEntryId">Details</a>
            
            @if ((await AuthorizationService.AuthorizeAsync(
                  User, item, TimeEntryOperations.Delete)).Succeeded)
                {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.TimeEntryId">Delete</a>
                }
        </td>
        <td>
            @if (User.IsInRole(Constants.AdminRole) ||
                User.IsInRole(Constants.SuperRole)) 
            {
                @if (item.ApprovalStatus != true)
                {
                    @if ((await AuthorizationService.AuthorizeAsync(
                            User, item, TimeEntryOperations.Approve)).Succeeded)
                    {
                        <form style="display:inline;" method="post">
                        <input type="hidden" name="id" value="@item.TimeEntryId" />
                        <input type="hidden" name="status" value="@TimeEntryOperations.Approve" />
                        <button type="submit" class="btn btn-xs btn-success">Approve</button>
                        </form>
                    }
                }
                @if (item.ApprovalStatus == true)
                {
                    <form style="display:inline;" method="get">
                        <button class="btn btn-xs btn-success">Report</button>
                    </form>
                }
            }
        </td>
    </tr>
    }
</tbody>
</table>
