@page
@model TimeKeeperApp.Pages.TimeEntryPages.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(Constants.InternRole) ||
    User.IsInRole(Constants.AdminRole))
{
    <p>
        <button>
            <a asp-page="Create">Create New</a>
        </button>
    </p>
}

@{
    var weeks = Model.TimeEntry.Select(te => te.Week).Distinct().ToList();
}

<div class="dropdown">
    <button class="dropbtn">Select Week</button>
    <div class="dropdown-content">
        @foreach (var week in weeks)
        {
            <option value="@week"></option>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].UserID) *@ User ID
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].Week) *@ Week Starting
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].TimeIn) *@ Time In
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].TimeOut) *@ Time Out
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].HoursWorked) *@ Hours Worked
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TimeEntry[0].ApprovalStatus) *@ Approval Status
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.TimeEntry) {
    @* @if (item.Week == weeks[0]) { *@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
                    User, item, TimeEntryOperations.Update)).Succeeded)
                    {
                    <a asp-page="./Edit" asp-route-id="@item.TimeEntryId">Edit</a> 
                    <text> | </text>
                    }
                
                <a asp-page="./Details" asp-route-id="@item.TimeEntryId">Details</a>
                
                @if ((await AuthorizationService.AuthorizeAsync(
                      User, item, TimeEntryOperations.Delete)).Succeeded)
                    {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.TimeEntryId">Delete</a>
                    }
            </td>
            <td>
                @if (User.IsInRole(Constants.AdminRole) ||
                    User.IsInRole(Constants.SuperRole)) 
                {
                @if (item.ApprovalStatus != true)
                {
                    @if ((await AuthorizationService.AuthorizeAsync(
                                User, item, TimeEntryOperations.Approve)).Succeeded)
                    {
                        <form style="display:inline;" method="post">
                        <input type="hidden" name="id" value="@item.TimeEntryId" />
                        <input type="hidden" name="status" value="@TimeEntryOperations.Approve" />
                        <button type="submit" class="btn btn-xs btn-success">Approve</button>
                        </form>
                    }
                }
                    @if (item.ApprovalStatus == true)
                    {
                        <form style="display:inline;" method="get">
                            @* <input type="hidden" name="id" value="@item.TimeEntryId" />
                            <input type="hidden" name="status" value="@TimeEntryOperations.Approve" /> *@
                            <button type="submit" class="btn btn-xs btn-success">Report</button>
                        </form>
                    }
                    }
            </td>
        </tr>
        @* } *@
      }
    </tbody>
</table>
